<template>
  <div id="purchase">
    <div class="purchase__title-wrapper">
      <h2 class="purchase__title">二步驟 <br> 打造專屬殼</h2>
    </div>
    <!-- 手機殼顯示區 -->
    <div class="display__area">
      <section class="purchase__preview">
        <div class="purchase__preview-images-wrapper">
          <img :src= phoneImage alt="" class="purchase__preview-image main">
          <img :src= frameImage alt="" class="purchase__preview-image sub case">
          <img :src= rimImage alt="" v-if="!withRimEnable" class="purchase__preview-image sub rim purchase__preview-image--backward">
          <img :src= buttonImage alt="" class="purchase__preview-image sub button">
          <img :src= additionBackplate alt="" v-if="withRimEnable" class="purchase__preview-image sub rim purchase__preview-image--backward">
          <img :src= withRimImage alt="" v-if="withRimEnable" class="purchase__preview-image sub backplate">
          <img :src= backplateImage alt="" class="purchase__preview-image sub backplate"></div>
          <div class="purchase__selector-wrapper phone">
            <div class="color-container">
              <p class="color-picker-title">裝置<br>顏色</p>
              <div class="normal color-picker color-picker--vertical">
                <div id="apple_graphite" class="color-picker--vertical__option active">
                  <div class="dot apple_graphite"></div>
                </div>
                <div id="silver" class="color-picker--vertical__option">
                  <div class="dot silver"></div>
                </div>
                <div id="gold" class="color-picker--vertical__option">
                  <div class="dot gold"></div>
                </div>
                <div id="pacific_blue" class="color-picker--vertical__option">
                  <div class="dot pacific_blue"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="purchase__backplate-switch-wrapper">
            <div class="backplate-switch light">
              <section class="backplate-switch__common">
                <div class="backplate-switch__option">
                  <div class="backplate-switch__checkbox backplate-switch__checkbox--active"></div>
                  <input type="radio" class="radio-input" v-model="modeSelected" value="背板模式" />
                  <label class="radio-label">背板模式</label>
                </div><br>
                <div class="backplate-switch__option">
                  <div class="backplate-switch__checkbox"></div>
                  <input type="radio" class="radio-input" v-model="modeSelected" value="邊框模式" />
                  <label class="radio-label">邊框模式</label>
                </div>
              </section>
            </div>
          </div>
        </section>
    </div>
    <!-- 型號/顏色顯示區 -->
    <div class="selection__area">
      <div class="selection__area__top">
        <div class="device__selector">
          <select name="" id="device" v-model="deviceSelect">
              <option v-for="option in deviceType" v-bind:value="option" v-bind:key="option">
                {{ option }}
              </option>
          </select>
        </div>

        <div class="outward">
          <div class="option__block">
            <p class="option__title">手機殼顏色</p>
            <div class="icon" v-on:click="caseColorSelect">
            </div>
          </div>
          <div class="radio_color_group" v-if="caseColorToggle">
          <input type="radio" class="hidden_input" id="1" name="number">
          <label  v-for="(option, index) in caseColorList" v-bind:value="option" v-bind:key="option" class="radio_label">
            <span class="radio_color_button" :style="{backgroundColor:option}" v-on:click="colorSelect(index)"></span>
          </label>
          </div>
          <div class="block_border_bottom"></div>
          <div v-if="backplateBlock" class="option__block">
            <p class="option__title">背板樣式</p>
            <div class="icon" v-on:click="backplateStyleSelect"></div>
          </div>
          <div v-if="backplateStyleToggle">
            <button v-for="(item, index) in backplateList" :key="index" v-on:click="backplateSelect(index)">
              <img :src= item.variants[0].image class="image"/>
            </button>
          </div>
          <div v-if="backplateBlock" class="block_border_bottom"></div>
        </div>
      </div>

      <div class="checkout">
        <div class="checkout__detail">
          <p class="checkout__detail__info">產品包含:</p>
          <p class="checkout__detail__info">{{cartItems.case.title}} <br> 色號 {{cartItems.caseColor}} x 1</p>
          <p class="checkout__detail__info">{{cartItems.button.title}} x 3</p>
          <p class="checkout__detail__info">{{cartItems.backplate.title}}</p>
          <p class="checkout__detail__info">{{cartItems.rim.title}}</p>
        </div>
        <div class="checkout__button__block">
          <button class="checkout__btn" @click="addToCart">加入購物車</button>
          <p class="price">{{price}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: {
  },
  data () {
    return {
      deviceSelect: '',
      modeSelected: '背板模式',
      backplateBlock: true,
      withRimEnable: false,
      cartItems: {
        caseColor: '#383636',
        case: {},
        button: {},
        backplate: {},
        rim: {}
      },
      price: '',
      apiData: [],
      deviceType: [],
      productType: [],
      productData: [],
      productDataByDevice: [],
      deviceSelectedProductData: [],
      backplateImage: '',
      frameImage: '',
      buttonImage: '',
      phoneImage: '',
      rimImage: '',
      withRimImage: '',
      additionBackplate: '',
      caseColorToggle: false,
      backplateStyleToggle: false,
      caseColorList: ['#383636', '#4f4f48', '#30507b', '#ffffff', '#cd5d5a', '#edd2cc', '#fbe57c'],
      backplateList: []
    }
  },
  computed: {
  },
  methods: {
    // TODO
    // Call API 抓取產品資料並依產品類型分類。
    // API URL : http://localhost:3000/mod-nx
    // )
    fetchProductData () {
      this.$http.get('http://localhost:3000/mod-nx').then((response) => {
        this.apiData = response.body.data
        this.classifyProductType()
      }
      )
    },
    async classifyProductType () {
      for (let dataIndex = 0; dataIndex < this.apiData.length; dataIndex++) {
        for (let index = 0; index < this.apiData[dataIndex].tags.length; index++) {
          // 搜集手機型號資料
          if (this.apiData[dataIndex].tags[index] === 'iphone') {
            this.deviceType.push(this.apiData[dataIndex].tags[index + 1])
          }
          // 搜集產品分類資料
          if (index === this.apiData[dataIndex].tags.length - 1) {
            this.productType.push(this.apiData[dataIndex].tags[index])
          }
        }
      }
      this.deviceType = this.filterRepeatData(this.deviceType)
      this.deviceSelect = this.deviceType[0]

      this.productType = this.filterRepeatData(this.productType)
      // 0: "type-mod-nx-backplate" 背板
      // 1: "type-mod-nx-frame-45degree" 外框
      // 2: "viewable" 按鈕
      // 3: "type-mod-nx-phone-45degree" 手機
      // 4: "type-mod-nx-rim-45degree" 飾條
      for (let index = 0; index < this.deviceType.length; index++) {
        this.productDataByDevice.push(
          {
            deviceName: this.deviceType[index],
            productList: []
          }
        )
      }
      for (let index = 0; index < this.productDataByDevice.length; index++) {
        for (let typeIndex = 0; typeIndex < this.productType.length; typeIndex++) {
          this.productDataByDevice[index].productList.push(
            {
              typeName: this.productType[typeIndex],
              typeProductList: []
            }
          )
        }
      }
      for (let dataIndex = 0; dataIndex < this.apiData.length; dataIndex++) {
        // 所有資料長度
        for (let tagIndex = 0; tagIndex < this.apiData[dataIndex].tags.length; tagIndex++) {
          // 單筆資料的tag長度
          for (let typeIndex = 0; typeIndex < this.deviceType.length; typeIndex++) {
            // 外來條件-所有裝置型號
            if (this.apiData[dataIndex].tags[tagIndex] === this.deviceType[typeIndex]) {
              // 單筆資料用tag去比對所有裝置型號
              for (let index = 0; index < this.productDataByDevice.length; index++) {
                // 外來條件-裝置型號object
                if (this.productDataByDevice[index].deviceName === this.deviceType[typeIndex]) {
                  // 裝置型號object相對
                  for (let listIndex = 0; listIndex < this.productDataByDevice[index].productList.length; listIndex++) {
                    // 單一裝置型號object分類清單長度
                    for (let productTypeIndex = 0; productTypeIndex < this.productType.length; productTypeIndex++) {
                      if (this.productDataByDevice[index].productList[listIndex].typeName === this.productType[productTypeIndex]) {
                        // if (this.apiData[dataIndex].tags[this.apiData[dataIndex].tags.length - 1] === )
                        if (this.apiData[dataIndex].tags[this.apiData[dataIndex].tags.length - 1] === this.productType[productTypeIndex]) {
                          this.productDataByDevice[index].productList[listIndex].typeProductList.push(this.apiData[dataIndex])
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    filterRepeatData (data) {
      const result = data.filter(function (element, index, arr) {
        return arr.indexOf(element) === index
      })
      return result
    },
    filterSelectedProductData (deviceName) {
      for (let index = 0; index < this.productDataByDevice.length; index++) {
        if (this.productDataByDevice[index].deviceName === deviceName) {
          this.deviceSelectedProductData = this.productDataByDevice[index]
          for (let listIndex = 0; listIndex < this.deviceSelectedProductData.productList.length; listIndex++) {
            const image = this.deviceSelectedProductData.productList[listIndex].typeProductList[0].variants[0].image
            switch (this.deviceSelectedProductData.productList[listIndex].typeName) {
              case 'type-mod-nx-backplate':
                if (this.modeSelected === '背板模式') {
                  for (let backplateIndex = 0; backplateIndex < this.deviceSelectedProductData.productList[listIndex].typeProductList.length; backplateIndex++) {
                    for (let tagIndex = 0; tagIndex < this.deviceSelectedProductData.productList[listIndex].typeProductList[backplateIndex].tags.length; tagIndex++) {
                      if (this.deviceSelectedProductData.productList[listIndex].typeProductList[backplateIndex].tags[tagIndex] === 'addition-mod') {
                        this.backplateImage = this.deviceSelectedProductData.productList[listIndex].typeProductList[backplateIndex].variants[0].image
                        this.cartItems.case = this.deviceSelectedProductData.productList[listIndex].typeProductList[backplateIndex]
                      }
                    }
                  }
                } else {
                  for (let backplateIndex = 0; backplateIndex < this.deviceSelectedProductData.productList[listIndex].typeProductList.length; backplateIndex++) {
                    for (let tagIndex = 0; tagIndex < this.deviceSelectedProductData.productList[listIndex].typeProductList[backplateIndex].tags.length; tagIndex++) {
                      if (this.deviceSelectedProductData.productList[listIndex].typeProductList[backplateIndex].tags[tagIndex] === 'addition') {
                        this.additionBackplate = this.deviceSelectedProductData.productList[listIndex].typeProductList[backplateIndex].variants[0].image
                        this.cartItems.backplate = this.deviceSelectedProductData.productList[listIndex].typeProductList[backplateIndex]
                      }
                    }
                  }
                }
                break
              case 'type-mod-nx-frame-45degree':
                if (this.modeSelected === '邊框模式') {
                  this.frameImage = image
                  this.cartItems.case = this.deviceSelectedProductData.productList[listIndex].typeProductList[0]
                  this.withRimEnable = true
                } else {
                  this.withRimEnable = false
                }
                break
              case 'viewable':
                this.buttonImage = image
                this.cartItems.button = this.deviceSelectedProductData.productList[listIndex].typeProductList[0]
                break
              case 'type-mod-nx-rim-45degree':
                this.rimImage = image
                this.withRimImage = image
                this.cartItems.rim = this.deviceSelectedProductData.productList[listIndex].typeProductList[0]
                break
              default:
                this.phoneImage = image
                break
            }
          }
        }
      }
      console.log('指定型號所有的產品：', this.deviceSelectedProductData)
    },
    creatImageButtonList () {
      this.backplateList = this.deviceSelectedProductData.productList[0].typeProductList
    },
    clearImageUrl () {
      this.deviceSelectedProductData = ''
      this.phoneImage = ''
      this.frameImage = ''
      this.backplateImage = ''
      this.rimImage = ''
      this.buttonImage = ''
      this.withRimImage = ''
      this.additionBackplate = ''
    },
    caseColorSelect () {
      this.caseColorToggle = !this.caseColorToggle
    },
    backplateStyleSelect () {
      this.backplateStyleToggle = !this.backplateStyleToggle
    },
    colorSelect (index) {
      this.cartItems.caseColor = this.caseColorList[index]
    },
    backplateSelect (index) {
      this.frameImage = this.backplateList[index].variants[0].image
      this.cartItems.backplate = this.backplateList[index]
      this.calculatePrice()
    },
    calculatePrice () {
      let casePrice = 0
      let buttonPrice = 0
      let backplatePrice = 0
      let rimPrice = 0
      if (this.cartItems.case !== null) {
        casePrice = Number(this.cartItems.case.variants[0].price)
      }
      if (this.cartItems.button !== null) {
        buttonPrice = Number(this.cartItems.button.variants[0].price)
      }
      if (this.cartItems.backplate !== null && this.modeSelected === '邊框模式') {
        backplatePrice = Number(this.cartItems.backplate.variants[0].price)
      }
      if (this.cartItems.rim !== null) {
        rimPrice = Number(this.cartItems.rim.variants[0].price)
      }
      this.price = '$' + String(casePrice + buttonPrice + backplatePrice + rimPrice) + ' TWD'
    },
    addToCart () {
      console.log('本次購買的商品為：')
      console.log(this.cartItems.case.title, '色號為：', this.cartItems.caseColor)
      console.log(this.cartItems.button.title)
      if (this.cartItems.backplate.title) console.log(this.cartItems.backplate.title)
      console.log(this.cartItems.rim.title)
    }
  },
  mounted: function () {
    this.fetchProductData()
  },
  watch: {
    deviceSelect () {
      this.clearImageUrl()
      this.filterSelectedProductData(this.deviceSelect)
      this.creatImageButtonList()
      // this.calculatePrice()
    },
    modeSelected () {
      if (this.modeSelected === '邊框模式') {
        this.backplateBlock = false
        this.backplateStyleToggle = false
      } else {
        this.backplateBlock = true
      }
      this.clearImageUrl()
      this.filterSelectedProductData(this.deviceSelect)
      this.creatImageButtonList()
      this.calculatePrice()
    }
  }
}
</script>

<style lang="sass" scoped>
@font-face
  font-family: MarkPro-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro-Bold.otf?12401685184872946130')

@font-face
  font-family: NotoSansCJKtc-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Bold.otf?12610878586689504297')

@font-face
  font-family: MarkPro
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro.otf?4269257120200746974')

@font-face
    font-family: NotoSansCJKtc-Regular
    src: url(https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Regular.otf?4935245772218057441)

#purchase
  position: relative
  width: 100%
  height: 100%
  max-width: 1440px
  display: flex
  padding: 120px 60px
  align-items: flex-start
  justify-content: space-between
  box-sizing: border-box

.purchase__title-wrapper
  width: 25%
  max-width: 220px

.display__area
  height: 100%

.selection__area
  display: flex
  flex-direction: column
  justify-content: space-between
  align-self: stretch
  margin-left: 70px
  width: 35%
  max-width: 260px

  .device__selector
    margin-bottom: 25px

  .checkout

    &__detail
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'

      &__info
        margin: 15px 0
        padding: 0
        line-height: 14px
        font-size: 14px
        text-align: left

    &__button__block
      display: flex
      justify-content: space-between
      align-items: center
      font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'

      .price
        font-size: 14px
        text-algin: right

    &__btn
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 40px
      max-width: 180px
      color: #FFF
      // font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'
      box-shadow: none
      border: none
      border-radius: 20.5px
      background-color: #2D2D2D
      transition: all .3s ease
      white-space: inherit

  .outward
    border-top: 2px solid #D8D8D8

  .option__block
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 20px 0

    .option__title
      font-size: 14px
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'
      color: #2D2D2D

    .icon
      position: absolute
      right: 0
      top: 50%
      width: 16px
      height: 16px
      transform: translateY(-50%)
      cursor: pointer

      &::before
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transform: rotate(90deg)
        transition: all .3s ease

      &::after
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transition: all .3s ease

    p
      margin: 0
      padding: 0

.block_border_bottom
  border-bottom: 1px solid #D8D8D8

.purchase__preview
  position: relative
  margin: 0 auto
  width: 100%
  max-width: 650px
  height: 100%
  &-images-wrapper
    position: relative
    height: 80%
  &-image
    &.main
      position: relative
      height: 100%
      z-index: 2
    &.sub
      position: absolute
      height: 100%
      top: 0
      left: 0
    &--backward
      z-index: 1
      transition: all .3s
      transform: translate(12%,-10%)
    &.case
      z-index: 3
    &.backplate
      z-index: 2

.purchase__selector-wrapper
  &.phone
    position: absolute
    top: 50%
    left: 25%
    transform: translateY(-50%)
    z-index: 3

.purchase__backplate-switch-wrapper
  position: absolute
  top: 50px
  right: 0
  z-index: 3

.color-picker-title
  position: absolute
  top: 0
  right: 0
  margin: 0
  font-size: 12px
  color: #000
  line-height: normal
  text-transform: uppercase
  transform: translateY(-120%)
  opacity: .2

.color-picker--vertical
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  --desc-text-width: 150px
  --desc-dash-width: 16px
  --desc-dash-margin: 13px

  &.normal
    --border-color: #d5d5d5
    --hover-border: #d5d5d5
    --dash-color: #d8d8d8
    --font-color: #2d2d2d

  &__option
    position: relative
    width: 29px
    height: 29px
    border: 1px solid transparent
    border-radius: 50%
    z-index: 200
    transition: all .3s ease
    margin-bottom: 18px
    display: flex
    align-items: center
    justify-content: center
    &:hover
      border: 1px solid var(--hover-border)
    .active, .dot
      width: 23px
      height: 23px
    .dot
      border: 1px solid var(--border-color)
      border-radius: 50%
      cursor: pointer

.apple_graphite
  background-color: #686763

.silver
  background-color: #c9c8c9

.gold
  background-color: #fadcc2

.pacific_blue
  background-color: #43616c

.radio-input
  height: 14px
  width: 14px

.radio-label
  font-size: 14px
  font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'
  cursor: pointer
  position: relative
  padding-left: 0.5rem

.radio_color_group
  padding: 0px 0px 20px 0px

.hidden_input
  height: 20px
  width: 260px
  visibility: hidden

.radio_color_button
  content: "";
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  margin-right: 12px
  -webkit-filter: drop-shadow(5px 0px 0px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.7))

.image
  height: 40px
  width: 40px
</style>
